{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/front1.css' %}">
</head>

<body id="body">
    <div class="top"><br>
        <a id="play" class="top_content" href="home">Play!</a>
        <a id="sign" class="top_content" href="accounts/login">Sign in</a>
        <a id="create" class="top_content" href="accounts/signup/"> Create Account</a>
    </div><br><br>

    <div class="content">
        <h1>Raspberry Music</h1>
        <p>ここはあなたの作ったオリジナル音楽をアップロードできる音楽プラットフォーム</p>
        <p>あなたの思い、意志、渇望、欲望その瞬間を音にのせて世界を圧倒しろ！</p>
        <p>その瞬間を共有できる仲間と盛り上がろう!</p>
    </div><br><br>

    <div id="block">
        <ul>
            <li class="second">
                <p class="subtitle">音楽をアップロード</p>
                <p class="description">あなたの作ったオリジナル曲をアップロードしよう！</p>
            </li>

            <li class="second">
                <p class="subtitle">音楽を聞こう</p>
                <p class="description">仲間の曲を聞いてみよう！ あなたの知らない音楽がここにある</p>
            </li>

            <li class="second">
                <p class="subtitle">あなたの気持ちを共有しよう</p>
                <p class="description">仲間の曲を聴いて感情が高ぶったなら、直ぐにコメントして 気持ちを共有しよう！</p>
            </li>
        </ul>
    </div>


</body>